@using DealsNZ.Helpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title DealsNZ</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Merienda+One|Material+Icons" rel="stylesheet">
    @Styles.Render("~/bundles/materializecss")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">



</head>

<body class="grey lighten-1">
    <nav class="darken-3 grey" role="navigation">
        <div class="nav-wrapper">
            <a href="#" data-activates="slide-out" class="button-collapse left white-text show-on-large"><i class="material-icons">menu</i></a>
            <a id="logo-container" href="#" target="_blank" class="brand-logo white-text center-align"> DealsNZ-Admin</a>

            <ul class="right hide-on-med-and-down">
                @{ if (Session[DealsNZ.Helpers.KeyList.SessionKeys.UserID] != null)
                    {

                        <li><span><a href=@Url.Action("Index","Wallet")>$ @Session[KeyList.SessionKeys.WalletCredit].ToString()</a></span></li>

                    } }
                <li><span><a href="/Register_Login"><i class="material-icons White-text">account_circle</i></a></span></li>
            </ul>

        </div>
    </nav>

    <div id="slide-out" class="side-nav blue-grey lighten-5">

        <ul>
            @{ if (Session[DealsNZ.Helpers.KeyList.SessionKeys.UserID] != null)
                {

                    <li class="hide-on-large-only teal-text"><span>Credit-<a href=@Url.Action("Index","Wallet")>$ @Session[KeyList.SessionKeys.WalletCredit].ToString()</a></span></li>

                } }
            <li><a href="#!"><i class="material-icons blue-text">Dashboard</i> Dashboard </a></li>
            <li><a href="#!"><i class="material-icons">notifications</i>Notification</a></li>
            <li><a href=@Url.Action("Deal","Admin")><i class="material-icons">local_offer</i> Deals </a></li>
            <li><a href=@Url.Action("Coupon","Admin")><i class="material-icons blue-text">redeem</i>Coupons</a></li>
            <li><a href=@Url.Action("CreateCompany","Admin")><i class="material-icons amber-text">Store</i>Company</a></li>

            <li><div class="divider"></div></li>
            <li><a href="#!">Quick Search</a></li>
            <li><a href="#!"><i class="material-icons amber-text">whatshot</i>Sales Details</a></li>
            <li><a href="#!"><i class="material-icons">credit_card</i>Credit</a></li>
            <li><a href=@Url.Action("Store","Admin")><i class="material-icons">store</i>Store</a></li>

            <li><a href="#!"><i class="material-icons">account_box</i>Users</a></li>
            <li><a href=@Url.Action("Index", "Subscriptions")><i class="material-icons">subscriptions</i>Subscription</a></li>
            <li><div class="divider"></div></li>
            <li><a href="#!"><i class="material-icons">people</i>CustomerSupport</a></li>
        </ul>
        <ul>
            @{
                if (Session[DealsNZ.Helpers.KeyList.SessionKeys.UserEmail] != null && Session[DealsNZ.Helpers.KeyList.SessionKeys.UserID] != null)


                //if (Request.IsAuthenticated)
                {

                    <li>
                        <a href=@Url.Action("MyProfile","Register_Login") class="waves-effect waves-lightmodal-trigger"><i class="material-icons teal-text">lock_outline</i><i style="font:8px;" class="materialize-teal-text">@Session[DealsNZ.Helpers.KeyList.SessionKeys.UserEmail].ToString();</i></a>


                    </li>

                    <li><a href="/Register_Login/LoggedOut"><i class="material-icons">exit_to_app</i>Logout</a></li>

                }
            }
        </ul>

    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer style="bottom:0;right:0;position:fixed" class="page-footer footer-copyright blue-grey lighten-5 teal-text text-darken-4">
        <div class="container">
            <h6>Version 1.0</h6>

        </div>
    </footer>


    <!--  Scripts-->
    @Scripts.Render("~/bundles/jquery")

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    @Scripts.Render("~/bundles/materializejs")
    <script>

        $(function () {
            $('.button-collapse').sideNav({
                menuWidth: 280, // Default is 300
                edge: 'left', // Choose the horizontal origin
                closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                draggable: true, // Choose whether you can drag to open on touch screens,
                onOpen: function (el) { }, // A function to be called when sideNav is opened
                onClose: function (el) { }, // A function to be called when sideNav is closed
            });

            $("#search-bar").hide();

            $("#close-search-bar").click(function () {
                $("#search-bar").toggle(500);
            });

            $(".show-search-bar").click(function (event) {
                $("#search-bar").toggle(500);
            });
        });
    </script>
    @RenderSection("scripts", required: false)


</body>
</html>
