@model DealsNZ.Models.AccountModels.Login

<div class="card white">
    <div class="card-content black-text">
        <span class="card-title">Login</span>
        <div>
            @using (Html.BeginForm("LoginUser", "Register_Login"))
            {
                <div class="input-field ">
                    <i class="material-icons prefix">email</i>
                    @Html.TextBoxFor(model => model.LogInEmail, htmlAttributes: new { @class = "validate", @type = "email" })
                    @Html.LabelFor(model => model.LogInEmail)
                    @Html.ValidationMessageFor(model => model.LogInEmail, "", new { @class = "red-text", @type = "" })
                </div>
                <div class="input-field ">
                    <i class="material-icons prefix">lock</i>
                    @Html.TextBoxFor(model => model.LogInPassword, htmlAttributes: new { @class = "validate" })
                    @Html.LabelFor(model => model.LogInPassword)
                    @Html.ValidationMessageFor(model => model.LogInPassword, "", new { @class = "red-text", @type = "" })
                </div>

                <h6 class="waves-effect center materialize-red-text text-black accent-3">@ViewBag.LoginError</h6>
            }
        </div>
    </div>
    <div class="card-action center-align">
        <input type="submit" value="Login" name="LoginUser" class="btn-large btn-flat teal-text" />
    </div>
</div>