@model DealsNZ.Models.AccountModels.Login

@using (Html.BeginForm("LoginUser", "Register_Login"))
{
    <div class="col  s12 bordered">
        <h3 class="waves-effect center col m12 s12 black-text accent-3">Login</h3>
        <fieldset class="bordered">
            <h5 class="waves-effect center col m12 s12 materialize-red-text text-black accent-3">@ViewBag.LoginError</h5>

            <div class="input-field inline col m6 s12">
                <i class="material-icons prefix">email</i>

                @Html.TextBoxFor(model => model.LogInEmail, htmlAttributes: new { @class = "validate", @type = "email" })
                @Html.LabelFor(model => model.LogInEmail)
                @Html.ValidationMessageFor(model => model.LogInEmail, "", new { @class = "red-text", @type = "col s3" })
            </div>
            <div class="input-field inline col m6 s12">
                <i class="material-icons prefix">vpn_key</i>
                @Html.TextBoxFor(model => model.LogInPassword, htmlAttributes: new { @class = "validate" })
                @Html.LabelFor(model => model.LogInPassword)
                @Html.ValidationMessageFor(model => model.LogInPassword, "", new { @class = "red-text", @type = "col s3" })
            </div>

            <div class="input-field inline  center col m12 s12">
                <input type="submit" value="Login" name="LoginUser" class="btn-large teal black-text" />
            </div>
        </fieldset>
    </div>
}
