@model DealsNZ.Models.AccountModels.ForgotPass

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



@using (Html.BeginForm("ForgotPassword", "Activation"))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col m8 s12 offset-m2" style="padding-top:40px;">
            <div class="card blue-grey lighten-5">
                <div class="card-content black-text">
                    <span class="card-title">Forgot Password</span>
                    <div>


                        <div class="input-field ">
                            <i class="material-icons prefix">account_circle</i>
                            @Html.TextBoxFor(model => model.ForgotPassEmail, htmlAttributes: new { @class = "validate", @type = "email" })
                            @Html.LabelFor(model => model.ForgotPassEmail)
                            @Html.ValidationMessageFor(model => model.ForgotPassEmail, "", new { @class = "red-text", @type = "email col s3" })
                        </div>

                        <h6 class="waves-effect center col m12 s12 materialize-red-text accent-3">@ViewBag.ForgotPassError</h6>


                    </div>
                </div>
                <div class="card-action">
                    <input type="submit" value="Generate Link" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
<div style="margin-bottom:250px;">

</div>
