@model DealsNZ.Models.AccountModels.ChangePassword


@*@using (Ajax.BeginForm("ChangePassword", "Register_Login", new AjaxOptions
    {
        OnSuccess = "OnSuccess",
        OnFailure = "OnFailure",
        LoadingElementId = "progress"
    }))
    {


    }*@



@using (Html.BeginForm("ChangePassword", "Register_Login"))
{
    @Html.AntiForgeryToken()

    <div class="card blue-grey lighten-5">

        <div class="card-content black-text">
            <span class="card-title">Change Password</span>
            <div>
                <div class="input-field ">
                    <i class="material-icons prefix">lock_outline</i>
                    @Html.TextBoxFor(model => model.CHOldPassword, htmlAttributes: new { @class = "validate", @type = "password" })
                    @Html.LabelFor(model => model.CHOldPassword)
                    @Html.ValidationMessageFor(model => model.CHOldPassword, "", new { @class = "red-text", @type = "" })
                </div>
                <div class="input-field ">
                    <i class="material-icons prefix">lock_outline</i>
                    @Html.TextBoxFor(model => model.CHNewPassword, htmlAttributes: new { @class = "validate", @type = "password" })
                    @Html.LabelFor(model => model.CHNewPassword)
                    @Html.ValidationMessageFor(model => model.CHNewPassword, "", new { @class = "red-text", @type = "" })
                </div>
                <div class="input-field ">
                    <i class="material-icons prefix">lock_outline</i>
                    @Html.TextBoxFor(model => model.CHNewConformPassword, htmlAttributes: new { @class = "validate", @type = "password" })
                    @Html.LabelFor(model => model.CHNewConformPassword)
                    @Html.ValidationMessageFor(model => model.CHNewConformPassword, "", new { @class = "red-text", @type = "" })
                </div>
                <h6 class="materialize-red-text">  @ViewBag.ChangePasswordError</h6>
                <p id="Abc" class="waves-effect center col m12 s12 materialize-red-text accent-3"></p>
            </div>
        </div>
        <div class="card-action">
            <input type="submit" value="Change" class="btn-flat  teal lighten-2 white-text waves-effect" />
        </div>
    </div>

}
@section Scripts {

    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script type="text/javascript">
        function OnSuccess(response) {

            alert(response);

        }
        function OnFailure(response) {
            alert("Error occured.");
        }

    </script>
}