@model DealsNZ.Models.AccountModels.Login

@using (Html.BeginForm("LoginUser", "Register_Login"))
{

    <div class="card blue-grey lighten-5">

        <div class="card-content black-text">
            <span class="card-title">Login</span>
            <div>
                <div class="input-field ">
                    <i class="material-icons prefix">email</i>
                    @Html.TextBoxFor(model => model.LogInEmail, htmlAttributes: new { @class = "validate", @type = "email" })
                    @Html.LabelFor(model => model.LogInEmail)
                    @Html.ValidationMessageFor(model => model.LogInEmail, "", new { @class = "red-text", @type = "" })
                </div>
                <div class="input-field ">
                    <i class="material-icons prefix">lock</i>
                    @Html.TextBoxFor(model => model.LogInPassword, htmlAttributes: new { @class = "validate", @type = "password" })
                    @Html.LabelFor(model => model.LogInPassword)
                    @Html.ValidationMessageFor(model => model.LogInPassword, "", new { @class = "red-text" })
                </div>

                <h6 class="waves-effect center materialize-red-text text-black accent-3">@ViewBag.LoginError</h6>

            </div>
        </div>
        <div class="card-action">
            <input type="submit" value="Login" name="LoginUser" class="btn-flat  teal lighten-2 white-text waves-effect" />
            <a class="btn-flat teal-text darken-4 waves-effect right" href="@Url.Action("ForgotPassword","Activation")" style="margin-right:0px !important;padding-right:16px;padding-left:16px">Recover Password</a>
            <a id="Register-Btn" class="btn-flat teal-text darken-4 waves-effect right" style="margin-right:0px !important;padding-right:16px;padding-left:16px">Register</a>
        </div>
    </div>}