@model DealsNZ.Models.AccountModels.Register


@using (Html.BeginForm("RegisterUser", "Register_Login"))
{

    <div class="card blue-grey lighten-5">
        <div class="card-content black-text">
            <span class="card-title">Register</span>
            <div>
                <div class="input-field ">
                    <i class="material-icons prefix">account_circle</i>
                    @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "validate", @type = "text" })
                    @Html.LabelFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "red-text", @type = "name" })
                </div>
                <div class="input-field ">
                    <i class="material-icons prefix">email</i>

                    @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "validate", @type = "email" })
                    @Html.LabelFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "red-text", @type = "" })
                </div>
                <div class="input-field ">
                    <i class="material-icons prefix">lock</i>
                    @Html.TextBoxFor(model => model.Password, htmlAttributes: new { @class = "validate", @type = "password" })
                    @Html.LabelFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "red-text", @type = "" })
                </div>
                <div class="input-field ">
                    <i class="material-icons prefix">lock</i>
                    @Html.TextBoxFor(model => model.ConformPassword, htmlAttributes: new { @class = "validate", @type = "password" })
                    @Html.LabelFor(model => model.ConformPassword)
                    @Html.ValidationMessageFor(model => model.ConformPassword, "", new { @class = "red-text", @type = "" })
                </div>

                <h6 class="waves-effect center materialize-red-text accent-3">@ViewBag.RegisterError</h6>


            </div>
        </div>
        <div class="card-action">
            <input type="submit" value="Register" name="RegisterUser" class="btn-flat teal lighten-2 white-text waves-effect" />
            <a id="Login-Btn" class="btn-flat teal-text darken-4 waves-effect right" href="#" style="margin-right:0px !important;padding-right:16px;padding-left:16px">Login</a>
        </div>
    </div>

}