@model DealsNZ.Models.AccountModels.ResetPass

@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



@using (Html.BeginForm("ResetPassword", "Register_Login"))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col m8 s12 offset-m2" style="padding-top:40px;">

            <div class="card white">
                <div class="card-content black-text">
                    <span class="card-title">Reset Password</span>
                    <div>

                        @Html.HiddenFor(model => model.ForgotUserID);

                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            @Html.TextBoxFor(model => model.Password, htmlAttributes: new { @class = "validate", @type = "password" })
                            @Html.LabelFor(model => model.Password)
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "red-text", @type = "password col s3" })
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">account_circle</i>
                            @Html.TextBoxFor(model => model.ConformPassword, htmlAttributes: new { @class = "validate", @type = "password" })
                            @Html.LabelFor(model => model.ConformPassword)
                            @Html.ValidationMessageFor(model => model.ConformPassword, "", new { @class = "red-text", @type = "password col s3" })
                        </div>
                        <h6 class="waves-effect center col m12 s12 materialize-red-text accent-3">@ViewBag.ResetPassError</h6>
                    </div>
                </div>
                <div class="card-action">
                    <input type="submit" value="Change" class="btn btn-large" />
                </div>
            </div>
        </div>
    </div>
}
