@model DealsNZ.Models.DealsModels.ViewSingleDeal
<style>
    .hovercolor:hover {
        color: #c2185b !important;
        font-weight: bolder;
    }

    .imagedeal {
        object-fit: cover;
        object-position: center;
        height: 100%;
        min-width:400px;

    }

    .viewdealcardimage {
        min-width: 400px;
        max-width: 460px;
        max-height: 600px;
    }
</style>

@using (Html.BeginForm("CouponGenerator", "Deal"))
{

    <div class="col s12 m12">
        <div class="card card-title">@ViewBag.Message</div>
        <div class="card horizontal">
            <div class="card-image viewdealcardimage">
                <img class="imagedeal " src="@Model.DealImages">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p class="card-title activator grey-text text-darken-4">@Model.Title</p>
                    <p class="teal-text">@Model.Description</p>

                    <div class="row" style="margin-top:30px">
                        <div class="container-fluid">
                            @{
                                if (Model.Price == Model.StrikePrice)
                                {
                                    <div class="col s12 m4 center">
                                        <p>Validity</p>
                                        <p><b>@Model.ValidTill.Date.ToString("dd MMM yyyy")</b></p>
                                    </div>
                                    <div class="col s12 m4 center">
                                        <p>Discount</p>
                                        <p><b>@Model.Discount%</b></p>
                                    </div>
                                    <div class="col s12 m4 center">
                                        <p>Price</p>
                                        <p><b>$@Model.Price</b></p>
                                    </div>
                                }
                                else
                                {

                                    <div class="col s12 m3 center">
                                        <p>Validity</p>
                                        <p><b>@Model.ValidTill.Date.ToString("dd MMM yyyy")</b></p>
                                    </div>

                                    <div class="col s12 m3 center">
                                        <p>Discount</p>
                                        <p><b>@Model.Discount%</b></p>
                                    </div>

                                    <div class="col s12 m3 center">
                                        <p>Now</p>
                                        <p><b><span class="activator grey-text text-darken-4">$@Model.StrikePrice</span></b></p>
                                    </div>
                                    <div class="col s12 m3 center">
                                        <p>Was</p>
                                        <p><b><strike>$@Model.Price</strike></b></p>
                                    </div>

                                }
                            }

                        </div>
                        <br/><br /><br /><br />
                        <div class="container-fluid">

                                    <div class="col s12 m4 center">
                                        <p>Available At</p>
                                        <p><b>@Model.StoreName</b></p>
                                    </div>
                                    <div class="col s12 m4 center">
                                        <p>Address</p>
                                        <p><b>@Model.Address</b></p>
                                    </div>
                                    <div class="col s12 m4 center">
                                        @if (Model.IsDealFree == false)
                                        {
                                            <p>Quantity</p>
                                            @Html.DropDownListFor(model => model.CouponQty, Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), htmlAttributes: new { @class = "dropdown-button black-text validate", @style = "display:block", @id = "Cqty" })
                                            @Html.HiddenFor(model => model.CouponPrice, htmlAttributes: new { @id = "HiddenCouponPrice" })
                                        }
                                    </div>
                        </div>


                        @Html.HiddenFor(model => model.CouponPrice, htmlAttributes: new { @id = "HiddenCouponPrice" })
                        @Html.HiddenFor(model => model.DealId)
                        @Html.HiddenFor(model => model.StrikePrice, htmlAttributes: new { @id = "strikePrice" })
                        @Html.HiddenFor(model => model.ValidTill)
                        @Html.HiddenFor(model => model.Title)
                        @Html.HiddenFor(model => model.Discount)
                        @Html.HiddenFor(model => model.Price)
                        @Html.HiddenFor(model => model.StrikePrice)
                        @Html.HiddenFor(model => model.DealImages)
                        @Html.HiddenFor(model => model.StoreName)
                        @Html.HiddenFor(model => model.Address)
                    </div>
                    
                </div>
                @if (Model.IsDealFree == false)
                {
                    <div class="card-action">
                        Total <b>$<span id="Cprice">@Model.CouponPrice</span></b>
                        <b><input type="submit" value="Payment For Check-out" name="Payment For Check-out" class="btn-flat pull-right pink-text hovercolor" /></b>
                    </div>
                }
            </div>
        </div>
    </div>
                                }


@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            alert("hello");
        });

        $("#Cqty").change(function () {
            debugger;
            a = $("#Cqty").val();
            b = $("#strikePrice").val();
            c = (a * b);
            $("#Cprice").val(c);
            $("#HiddenCouponPrice").val(c);
        });
    </script>
}

