@model DealsNZ.Models.DealsModels.ViewSingleDeal

<div class="col s12 m12">
    <h2 class="header">@Model.Title</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="@Model.DealImages">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4">@Model.Discount</span>
                <span class="right teal-text center" style="font-size:24px"><i class="material-icons" style="font-size:18px"></i><strike>$@Model.Price</strike></span>
                <span class="right teal-text center">
                    <i class="material-icons" style="font-size:18px"></i>

                    $<label id="strikePrice">@Model.StrikePrice</label>

                </span>
                <span class="right teal-text center"><i class="material-icons" style="font-size:18px"></i>$@Model.Description</span>
                <span class="right teal-text center"><i class="material-icons" style="font-size:18px"></i>$@Model.ValidTill</span>
                <br />
            </div>
            <div class="card-action">
                @Html.DropDownListFor(model => model.CouponQty, Enumerable.Range(1, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }), htmlAttributes: new { @class = "dropdown-button black-text validate", @style = "display:block", @id = "Cqty" })
                @Html.HiddenFor(model => model.CouponPrice, htmlAttributes: new { @id = "HiddenCouponPrice" })
                $<span id="Cprice">@Model.CouponPrice</span>
                <a href="">Payment For Check-out</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $("#Cqty").change(function () {
            //  $("#CouponPrice").val($("#Cqty").val() * ("#StrikePrice").val());
            debugger;
            a = $("#Cqty").val();
            b = $("#strikePrice").text();
            c = ($("#Cqty").val() * $("#strikePrice").text());
            $("#Cprice").text(c);
            $("#HiddenCouponPrice").val(c);
        });

        //$("#Cqty").on("change", function () {
        //    debugger;
        //    alert("Hello");
        //});
    </script>
}

