@model DealsNZ.Models.DealsModels.CompanyViewModel

@{
    ViewBag.Title = "CreateCompany";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("CreateCompany", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col s12 m6 offset-m3 ">
            <div class="card">
                <div class="card-content">
                    <div class="card-title center"> Add Company</div>
                    <div class="input-field">
                        <i class="material-icons prefix">business</i>
                        @Html.TextBoxFor(model => model.CompanyName, htmlAttributes: new { @class = "validate" })
                        @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "red-text" })
                        <label for="icon_prefix">Company Name</label>
                    </div>
                    <h6 class="waves-effect center materialize-red-text accent-3">@ViewBag.message</h6>
                </div>
                <div class="card-action">
                    <a href="/Home/" class="btn btn-flat">Back</a>
                    <input type="submit" value="Add Company" class="btn waves-effect waves-light right" />
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
