
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<DealsNZ.Models.Store>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<span class="card-title">Stores</span>
<div class="row">
    <div class="col s12 ">
        <div class="card white darken-1">
            <div class="card-content black-text">
                <div>
                    <div>
                        <form>
                            <div class="input-field">
                                <input id="search" type="search" class="teal-text" required>
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons class=" teal-text"">close</i>
                            </div>
                        </form>
                    </div>

                    <table class="responsive-table bordered highlight accent-3">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.First().StoreName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().UserId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Contact)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().IdentificationImage)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().Company)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.First().IsValid)
                            </th>
                            <th>Actions</th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StoreName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.UserId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Contact)
                                </td>
                                <td>
                                    <img src="@Url.Content(item.IdentificationImage)" style="width:80px" />

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                                </td>
                                <td>
                                    @if (item.IsValid == false)
                                    {
                                        @Html.ActionLink("Activae", "Validate", new { id = item.StoreId })
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Deactivate", "Validate", new { id = item.StoreId })
                                    }
                                </td>
                                <td>
                                    <button type="button" class="btn blue" onclick="location.href='@Url.Action("EditStore", "Admin", new { id = item.StoreId}, null)'"><i  class="material-icons ">edit</i></button>|
                                   
                                </td>
                            </tr>
                        }
                    </table>
                </div>

            </div>
            <div class="card-action">
                @Html.ActionLink("Create New", "CreateStore")
            </div>
            <div>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @class = "teal-text" }))
            </div>
        </div>
    </div>
</div>
